*{
  margin: 0;
  padding: 0;
}
.App{
  box-sizing: border-box;
  display:flex;
  width:100%;
  height:auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;;
}
body{
  overflow-x: hidden;
   font-family: 'Readex Pro', sans-serif !important;
  background: linear-gradient(360deg, #5c0369 3.46%,  #121338 102.32%) !important;
}
 
.home-page{
  width:100%;
  height: auto;
  background-image: url('./Images/Artboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.home-main{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-left{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5rem 0rem;
}
.home-left h1{
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
}

@media(min-width:998px){
  
}
@media(max-width:998px){
  html{
      font-size: 85%;
  }
  .App{
    box-sizing: border-box;
    display:flex;
    width:100%;
    height:80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;;
  }
 
}
@media(max-width:768px){
  html{
      font-size: 65%;
  }
  .App{
    box-sizing: border-box;
    display:flex;
    width:100%;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;;
  }
  
 
}